{% extends 'base.html' %}
{% load static %}
{% block title  %} Все таски {% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-9">
    {% for i in post%}
       <div class="card mb-3">
           <div class="card-header">
               Автор: <a href="{{ i.get_absolute_url }}"> {{ i.name }} </a>
           </div>
           <div class="card-body">
               <h5 class="card-title"> {{ i.title }}</h5>
               <p class="card-text">{{ i.desc }}</p>
               <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read more...</a>
           </div>
       </div>
   {% endfor %}
   </div>
{% endblock %}